<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Recognizer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="All about recognizer">
  <meta name="author" content="faustineinsun">

  <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
  <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
  <!--script src="js/less-1.3.3.min.js"></script-->
  <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

  <!-- Latest compiled and minified CSS -->
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
  <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
  <!-- Optional theme -->
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"-->
  <link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <!--script type="text/javascript" src="js/bootstrap.min.js"></script-->
  <!-- Latest compiled and minified JavaScript -->
  <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script-->
  <script type="text/javascript" src="js/scripts.js"></script>
  <script type="text/javascript" src="js/drawingboard.js"></script>
</head>

<body>
  <div class="container">
    <!--header-->
    <h4>
      Recogonizer &#x2668;
    </h4>

    <!--drawing board-->

    <div id="drawingboard"></div>
    <script type="text/javascript">
    $(document).ready(function() {
      prepareCanvas();
    });
    </script>

    <div id="showingboard">
      <script type="text/javascript">
      </script>
    </div>

    <button onclick="clearCanvas()">Clear</button>
    <button onclick="getImage()">Save</button>


    <!--bottom-->
    <br> <br>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
      </div>
    </div>

  </div>
</body>
</html>
