canvas{
  background-color: black;
}

#showSavedImg {
  position: absolute;
  margin: 1%;
  width: 112px;
  height: 112px;
  left: 300px;
  top: 60px;
  background-color: gray;
}

#showSmallImg {
  position: absolute;
  margin: 1%;
  width: 28px;
  height: 28px;
  left: 430px;
  top: 60px;
  background-color: #A9A9A9;
}

#showAnswer {
  position: absolute;
  margin: 1%;
  width: 112px;
  height: 50px;
  left: 300px;
  top: 180px;
}

#showResult {
  position: absolute;
  margin: 1%;
  width: 112px;
  height: 112px;
  left: 300px;
  top: 240px;
}
